.navbar-container{
    width: 100%;
    height: 10vh;
    top: 0;
    /* position: fixed; */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.logo img{
    cursor: pointer !important;
}
.navbars{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}