*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #EBF7FF !important;
  /* background: linear-gradient(to bottom, #ebf7ff, #96d0ff); */
  
}