.childCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* margin-top: 5vh; */
}
.subCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo img {
  width: 65%;
  cursor: pointer;
}
.arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
}
.arrow {
  margin-bottom: -45px !important;
}
.arrow img {
  width: 50%;
  text-align: center;
}
.soon h3 {
  font-size: 4rem;
}
.time-count {
  display: grid;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
.time {
  width: 100% !important;
  /* height: 5%; */
}
.time h2 {
  background-color: #f4f4f4 !important;
  border-radius: 10px;
  padding: 10px 12px;
  color: #268c43 !important;
  font-size: 3.5rem;
  margin-bottom: -0.1rem;
}
.time-count span {
  text-align: center;
  font-size: 40px;
  padding-bottom: 2rem;
}
.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  /* margin-top: 15vh; */
}
.child-content1 {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.content2 {
  /* background-image: url(../assets/Rectangle1.png); */
  height: 100%;
  width: 50% !important;
  /* margin-top: -9rem; */
  background-position: center;
  background-size: cover;
}
.content2 img {
  width: 100% !important;
  height: 100%;
}
.Jason p {
  color: rgba(51, 51, 51, 0.89);
}
.green {
  color: #268c43;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.icon:hover {
  border: 2px solid #268c43;
}
.icon i:hover {
  color: #268c43;
  transition: 1s ease-in-out;
}
.soon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem !important;
  color: rgba(51, 51, 51, 0.89) !important;
  transition: 1s ease-in-out;
}
@media (max-width: 1200px) {
  .soon h3 {
    font-size: 3rem;
  }
  .arrow {
    margin-bottom: -25px !important;
  }
}
@media (max-width: 840px) {
  .content2 {
    display: none;
  }
  .content1 {
    width: 100%;
  }
  .time h2 {
    font-size: 3rem !important;
  }
}
@media (max-width: 538px) {
  .soon h3 {
    font-size: 3rem;
  }
  .arrow img {
    width: 50%;
  }
  .logo img {
    width: 55%;
  }.time h2 {
    font-size: 2.6rem !important;
  }
}
@media (max-width: 416px) {
  .soon h3 {
    font-size: 2.5rem;
  }
  .arrow img {
    width: 50%;
  }
  .arrow {
    margin-bottom: -20px !important;
  }
  .Jason p {
    font-size: 0.8rem;
  }
  .icon {
    width: 40px;
    height: 40px;
    font-size: 1rem !important;
  }
  .time p {
    font-size: 0.7rem;
  }
  .logo img {
    width: 60%;
  }.time h2 {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 336px) {
  .soon h3 {
    font-size: 2rem;
  }
  .arrow img {
    width: 50%;
  }
  .arrow {
    margin-bottom: -10px !important;
  }
  .time h2 {
    padding: 6.5px;
    font-size: 2rem !important;
  }
}
